* {
    margin: 0%;
    padding: 0%;
}
body {
    background-color: #e8e8e8;
    main {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        header {
            display: flex;
            flex-direction: column;
            width: 100%;
            .theme-head {
                display: flex;
                width: 100%;
                padding: 20px;
               // margin: auto 10%;
                justify-content: space-between;
                -webkit-box-shadow: 0px 5px 10px 0px rgba(235,235,235,1);
                -moz-box-shadow: 0px 5px 10px 0px rgba(235,235,235,1);
                box-shadow: 0px 5px 10px 0px rgba(235,235,235,1);
                background-color: #fff;
                h2 {
                    margin-left: 5%;
                }
                span {
                    margin-right: 5%;
                    display: flex;
                  //  justify-content: space-between;
                    width: 10%;
                    cursor: pointer;
                    i {
                        margin-right: 8%;
                    }
                }
            }
            .theme-head.active {
                background-color: #1b1f2e;
                box-shadow: none;
            }
            nav {
                display: flex;
                width: 100%;
                margin: 3% auto 3% auto;
                justify-content: space-between;
                .searchBox {
                    display: flex;
                    position: relative;
                    width: 50%;
                    input {
                        width: 50%;
                        margin: auto 25%;
                        padding: 10px 10px 10px 50px;
                        -webkit-box-shadow: 0px 10px 10px 0px rgba(189,189,189,1);
                        -moz-box-shadow: 0px 10px 10px 0px rgba(189,189,189,1);
                        box-shadow: 0px 10px 10px 0px rgba(189,189,189,1);
                        border: none;
                        border-radius: 5px;
                        outline: none;
                    }
                    input.active {
                        background-color: #1b1f2e;
                        box-shadow: none;
                        color: #fff;
                    }
                    span {
                        position: absolute;
                        left: 28%;
                        top: 25%;
                        color: gray;
                        cursor: pointer;
                    }
                    span.active {
                        color: #fff;
                    }
                }
                #region-selector {
                    margin-right: 10%;
                    width: 15%;
                    border-radius: 5px;
                    padding: 10px;
                    border: none;
                    outline: none;
                    -webkit-box-shadow: 0px 10px 10px 0px rgba(189,189,189,1);
                    -moz-box-shadow: 0px 10px 10px 0px rgba(189,189,189,1);
                    box-shadow: 0px 10px 10px 0px rgba(189,189,189,1);
                    z-index: 1;
                }
                #region-selector.active {
                    background-color: #1b1f2e;
                    box-shadow: none;
                    color: #fff;
                }
            }
            
        }
        .container {
            width: 90%;
            margin: auto 5%;
            padding: 0%;
            .country {
               
                .short-view {
                    width: 20%;
                    height: 50vh;
                    float: left;
                    margin:auto 5% 5% auto;
                    -webkit-box-shadow: 0px 10px 5px 0px rgba(209,209,209,1);
                    -moz-box-shadow: 0px 10px 5px 0px rgba(209,209,209,1);
                    box-shadow: 0px 10px 5px 0px rgba(209,209,209,1);
                    overflow: hidden;
                    font-family: sans-serif;
                    cursor: pointer;
                    border: none;
                    border-radius: 5px;

                    img {
                        width: 100%;
                        height: 25vh;
                    }
                    h3 {
                        margin:5% auto 5% 5%;
                        width: 100%;
                        font-size: 20px;
                        
                    }
                    p {
                        font-weight: 500;
                        font-size: 15px;
                        margin:5px auto auto 5%;
                    }
                }
                .short-view:hover {
                    -webkit-box-shadow: 0px 10px 5px 0px rgba(82,82,82,1);
                    -moz-box-shadow: 0px 10px 5px 0px rgba(82,82,82,1);
                    box-shadow: 0px 10px 5px 0px rgba(82,82,82,1);
                }
                .short-view.active {
                    background-color: #1b1f2e;
                    box-shadow: none;
                }
                .full-view {
                    display: block;
                }
                .full-view.active {
                    display: block;
                }
            }
            
        }
    }
}
body.active {
    background-color: #0e101a;
    color: #fff;
}